form{
    position: relative;
    max-width: 550px;
    margin: auto;
    margin-top: 2rem;
    background-color: #fff;
    padding: 0.2rem 0.8rem 0.8rem 0.8rem;
   


} 
form h3{
    font-size: 2rem;
    color:#3e91c9 ;
    margin-top: 0.3rem;

}
form fieldset: :first-of-type{
    display: flex;
       flex-direction: column;

}
fieldset textarea ::placeholder{
    color: #aaa;

}
label{
    color: #158;
}
input{
    font-size: 1rem;
    padding: 0.45rem;
    color: black;
    margin-bottom: 0.8rem;
}
input::placeholder{
    color: #aaa;
}
input[type="reset"] input[type="submit"]{
    border: none;
    padding: 0.7rem;
    background-color: #e0e0e0;
    cursor: pointer;
    transition: 400ms ease-in-out;
}
input[type="submit"]{
    margin-bottom: 0.2rem;
    background-color: #4291c6;
    color: #f1f1f5;
}
input[type="submit"]:hover{
    filter: saturate(1.2) brightness(1.1)
}
textarea{
    font-size: 1rem;
    font-family: "manrope", sans-serif;
resize: none;
padding: 0.5rem;
margin-bottom: 1rem;
}
